// texto

$colorMenu: #fff;
$social: #641080;


// Fondo
$naranja: #ff7033;
$orange: #ff703370; //para el footer
$claro: #009c8c;
$negro: #000;
$blanco: #fff; //para la barra de navegación
$tarjeta: rgba(0, 0, 0, 0.301);
$bg--gradiente: #f4fff0;

// Bordes para cajas de la sección empresa
$rojo: #c52a39;
$verde: #6bc736;